
@use './_normalize.sass'
@use './_mixins.sass'
@use './_fonts.sass'

html
    font-family: 'Montserrat'
    font-size: 20px

body
    color: #fff
    height: 7736px
    background: rgb(7,7,7)
    background: linear-gradient(rgba(7,7,7,1) 0%, rgba(102,102,102,1) 90%, rgba(102,102,102,1) 100%)